/*  Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/*Common*/
.clear{
  clear: both;   /* cách 2 khi xử lý thằng float*/
} 
.row{
   margin-left: -8px;
   margin-right: -8px;
}
.row::after{
   content: "";
   display: block;
   clear: both;
}
.col{
   float: left;
   padding-left: 8px;
   padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
   width: 100%;
}
.col-third{
   width: 33.33333%;
}
.text-center{
   text-align: center;
}
.mt-8{
   margin-top: 8px!important;
}
.mt-16{
   margin-top: 16px!important;
}
.mt-32{
   margin-top: 32px!important;
}
.btn{
   color: white;
   background-color: #000;
   text-decoration: none;
   padding: 11px 16px;
   margin-top: 25px;
   display: inline-block;
   border: none;
   cursor: pointer;
}
.full-right{
  float: right;
}
/*  Nguyên tắc làm 
 1. từ ngoài vào trong từ main vào  
 2. Từ trên xuống dưới 
 => làm tổng quan đến chi tiết 
 
 */
 

/*  
1.Vị trí 
2.  kich thước ( widgh , height)
3.  màu sắc 
4. kieu dang (kieu chu ,hinh tron , vuong )
 */
 #main{

 }
 .text-white{
   color: #fff !important;
 }
 #header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
   
 
 }
 #nav{
   display: inline-block;
 }
 #nav .subnav{
   list-style: none;
 }
 
 #nav >li{
    display: inline-block;
 } 
 #nav li{
     position: relative;
    
 }
 
 #nav >li >a{
    color: white;
    text-transform: uppercase;
 }
 #nav li a {
     
     text-decoration: none;
     line-height: 46px;
     padding:0 24px;
     display: block;
     
 }
 #nav li:hover .subnav{
   display: block;
 }

 #nav >li:hover>a,
 #nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
 }

 #nav li:hover a{
    
 }

 #nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
 }
 #nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
 }

 #nav .subnav a {
    color: #333;
    padding: 0px 16px;
    line-height: 38px;
    
 }
 
 #nav .nav-arrow-down{
   font-size: 14px;
 }

 #header .menu-mobile-btn{
   position: absolute;
   top: 0;
   right: 0;
   display: none;
 }
 #header .menu-mobile-btn,
 #header .search-btn{
  float:  right;
  padding: 0 21px;
  
  
 }
 #header .menu-icon-mobile,
#header .search-icon{
   color:  white;
   font-size: 20px;
   line-height: 46px;
   
}

#header .search-btn:hover{
   background-color: #f44336;
   cursor: pointer;
}
#header .menu-mobile-btn:hover{
   
  background-color: #ccc;
}
#header .menu-mobile-btn:hover{
   color: #000;
   
 }
 #slider{
   position: relative;
   margin-top: 46px ;   /* chỉnh margin top cho silder bằng với height cùa header để ko bị dính */
  padding-top: 50%;   /* padding-top gồm % thì bằng 50% chiều ngang  của chính nó */
  background: url(../assets/img/silder/slider1.jpg)  /* background position */top center / /* background size */   cover   /* background repeat    */ no-repeat;
}

#slider .text-content{
   position: absolute;
   bottom: 48px;    /* cộng khoảng cách của nó 32 +16 */
   color: #fff;
   text-align:center;
   left: 50%;
   transform: translateX(-50% );
    /* left: 0 ;
    right: 0; */
    /* width: 100%; */

}

#slider .content-heading{
 font-size: 24px;
 font-weight: 400;

 
}

#slider .text-description{
 font-size: 15px;
 margin-top: 25px;
}

 
 #content{
 
 }
 #content .content-section{
   width: 800px;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 64px  0 122px;
   
   
 }
 #content .section-heading{
   font-size: 30px;
   font-weight: 500; 
   letter-spacing: 4px; /* cho khoảng cách chữ*/
 
   
 }
 #content .section-sub-heading{
    margin-top: 25px;
   font-size: 15px;
   font-style: italic;
   opacity: 0.6;  /* độ trong suốt của chữ giá trị từ 0 ->1 */
   
 }
 #content .section-heading,
 #content .section-sub-heading{
   text-align: center;
  
 }
 
 #content .about-text{
   margin-top: 25px;
   text-align:justify;
   font-size: 15px;
 }


 #content .member-list{
   margin-top: 32px;
   
  
 }
   /* overflow: hidden; xử lý khi xử dùng fooat bản chất nó ko ôm hết tất cả thằng con */
 
/* #content .member-item{
    float: right;
    width: 33.33333%;
} */
#content .member-name{
   font-size: 15px;
   
  
   
}

#content .member-img{
   width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour section*/
#content .tour-section{
   background-color: #000;
}
/* ticket list*/
.ticket-list{
   background-color: #fff;
   margin-top: 39px;
}
.ticket-list li {
   color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.ticket-list .sold-out{
   padding: 4px 5px;
   color: #fff;
   background-color: #f44336;
   margin-left: 16px;

}
.ticket-list .quantity{
   float: right;
   background-color: #333;
   height: 24px;
   width: 24px;
   border-radius: 50%;
   text-align: center;
   line-height: 24px;
   color: #fff;
   margin-top: -3px;
}

/* Places*/
.place-list{
    /* margin: 32px -8px 0px; */   /* không giữ nó vì dã xài row là class chung*/
    margin-top: 16px;
   
    
  
}
/* .place-items{
float: left;
 width: 33.33333%;
 padding : 0 8px; 
 
} */
.place-img{
  display: block;
   width: 100%;
}
.place-img:hover{
     opacity: 0.6;
}
.place-body{
background-color: #fff;
padding: 16px;
font-size: 15px;
}
.place-heading{
   font-size: 15px;
   font-weight: 600;

}
.place-time{
margin-top: 15px;
opacity: 0.6;

}
.place-description{

margin-top: 15px;
line-height: 1.6;
}

.place-buy-btn:hover{
   background-color: #ccc;
   color: #000;
}

.modal {
   position: fixed;
   background-color: rgba(0,0,0,0.4);
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   align-items: center;
   justify-content: center;
   display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
   background: #fff;
   width: 900px;
   min-height: 200px;
   position: relative;
   max-width: calc(100% - 32px); /* reponesive hở mỗi bên 16px*/
   animation: modafade ease 0.6s;
}
.modal-header{
   background-color: #009688;
   height: 130px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: #fff;
   letter-spacing: 6px;
}
.modal-heading-icon {
   margin-right: 10px;
}
.modal-close{
   position: absolute;
   right: 0;
   padding: 12px;
   top: 0;
   cursor: pointer;
   opacity: 0.8;
   color: #fff;
}

.modal-close:hover{
  color: #000;
}

.modal-body {
   padding: 16px;
}

.model-label {
   font-size: 15px;
   display: block;
   padding: 9px;
   font-weight: 700;
   margin-bottom: 12px;
}
.modal-input {
   padding: 10px;
   border: 2px solid #ccc;
   width: 100%;
   font-size: 15px;
   margin-bottom: 24px;
}
.buy-tickets {
   padding: 18px;
   width: 100%;
   color: #fff;
   background-color: #009688;
   font-size: 15px;
   text-transform: uppercase;
}
.buy-tickets:hover{
   background-color: #eddfdf;
   color: #000;
}


.modal-footer{
      padding: 16px;
      text-align: right;
      
}
.modal-footer a{
   color: #2196F3;
}

@keyframes modafade{
   from{
      opacity: 0;
      transform: translateY(-140px);
   }
   to{
      opacity: 1;
      transform: translateY(0);
   }
}
/* .content-section{
    padding: 64px;
    text-align: center;
   
} */
/* .section-heading{
   font-size: 30px;
   font-weight: 500;
   letter-spacing: 4px;
   margin-bottom: 16px;
}
.section-sub-heading{
   font-size: 15px;
   font-style: italic;
   opacity: 0.6;
} */
/*Contact form*/
.contact-content{
   margin-top: 48px;
}
.contact-info i[class*="ti-"]{
   display: inline-block;
   width: 30px;

}
.contact-info{
   font-size: 18px;
   line-height: 1.5;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
   padding: 11px;
   border: 1px solid #ccc;
   width: 100%;
}
.contact-form .form-submit-btn{
   color: #fff;
   background-color: #000;
   padding: 10px 16px;
   float: right;
   border: 1px solid #333;
}
/* Map */
.map-section img{
   width: 100%;
}
 .footer{
    padding: 64px 16px;
     text-align: center;
     text-decoration: none;
     
 }
 .footer .social-list{
   margin-bottom: 20px;
   font-size: 24px;
 }
 
 .footer .social-list   a{
   text-decoration: none;
   color: rgba(0,0,0,0.6);
 }
 .footer .social-list a :hover{
   color: rgba(0,0,0,0.6);
   opacity: 0.3;
 }
 .footer  .copyright   {
   color: rgba(0,0,0,0.6);
 }
 .footer  .copyright  a {
   color: rgba(0,0,0,0.6);
 }